<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/add" method="POST">
      <div>
        <span>이름</span>
        <input type="text" name="subject" id="subject" />
      </div>
      <div>
        <span>내용</span>
        <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
      </div>
      <button>send</button>
    </form>
    <!-- form 태그 안에서는 id 보다 name이 더 중요하다 -->
  </body>
</html>
